@charset "UTF-8"

;*{
    margin: 0px;
    padding: 0px;
}
section{
    display: block;
}
section#fundo{
    background: moccasin url("..//imagens/fundo-madeira.jpg") center center no-repeat fixed;
    background-size: cover;    
    height: 100vh;
    text-align: right;
}


#celular{
    background: url("..//imagens/frame-iphone.png") ; 
    width: 311px;
    height: 627px;
    position: absolute;

    left: 50%;
    top: 50%;

    translate: -50% -50%;
} 

.sociais{
    width: 40px;
    height: 40px;
 border-radius: 160px;

 margin: 8px;
 display: block;
 text-align: right;
}

.sociais:hover{
    transition-duration: 1s;
    width: 45px;
    height: 45px;
    border: 1px solid white;
}

iframe{
    scro
}